<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="PfadMitarbeiter" value="%BASEDIR%\Data\mitarbeiter.xml" />
    <add key="PfadPlanungen" value="%BASEDIR%\Data\planungen.xml" />
    <add key="PfadExcel" value="C:\Temp\Data\" />
    <add key="ZeitFruehdienstStart" value="07:00" />
    <add key="Zeit8UhrdienstStart" value="08:00" />
    <add key="ZeitKernzeitdienstStart" value="08:30" />
    <add key="Zeit9UhrdienstStart" value="09:00" />
    <add key="Zeit10UhrdienstStart" value="10:00" />
    <add key="ZeitKernzeitdienstEnde" value="15:00" />
    <add key="Zeit16UhrdienstEnde" value="16:00" />
    <add key="Zeit16UhrdienstBeiGrossteamEnde" value="15:30" />
    <add key="ZeitSpaetdienstEnde" value="17:15" />
    <add key="ZeitSpaetdienstBeiGrossteamEnde" value="16:00" />
    <add key="ZeitFsjFruehdienstStart" value="07:30" />
    <add key="ZeitFsjSpaetdienstEnde" value="16:30" />
    <add key="ZeitFsjSpaetdienstBeiGrossteamEnde" value="17:00" />
    <add key="ZeitFsjdienstStart" value="08:30" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>